.vscode/
.ipynb_checkpoints/

code/__pycache__/
code/.venv/
code/.ipynb_checkpoints/

paper/
!paper/jmlr2e.sty
!paper/main.pdf
!paper/main.tex
!paper/references.bib
!paper/architecture.png
!paper/dataset_split.png